*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: rgb(207, 183, 142);
    
}
/*barra de navegacion*/
.nav-link:hover{
    border: solid black 1px;
    background: #FFFDD0;
}
.container-fluid{
    background:#6D0C2E;
}
.nav-link{color: white;
}
h2{
    margin: 10px;
}
.logoindex{
    height: 20px;
}
.patas{
    background:#550923;
    text-align: center;
    font-size: 20px;
    color: white;
}
.logotecsup{
    height: 30px;
}
.otroslinks{
    color: white;
}
.userprofe{
    display: block;
    text-align: end;
    padding-right: 20px;
}
@media (min-width:1201px){

    .parrafo{
        margin: 10px;
        padding: 10px;
        display: flex;
        flex-direction: row;
    }
    #mapa{
        width: 100%;
        height: 500px;
    }
    #imgsub1{
        width:100% ;
        padding: 10px;
    }
    .container2{
        margin: 10px;
        padding: 10px;
        background-color: bisque;
        text-align: center;
        display: flex;
        flex-direction: row;
    }
    .accordion{
        margin: 10px;
        width: 80%;
    }
} 
@media (min-width:601px) and (max-width:1200px){

    .parrafo{
        margin: 10px;
        padding: 10px;
    }
    #mapa{
        width: 100%;
        height: 200px;
    }
    #imgsub1{
        width: 500px ;
    }
    .ci{
        text-align: center;
    }
    .accordion{
        margin: 10px;
    }
    
    
} 
@media (max-width:600px){

    .parrafo{
        margin: 10px;
        padding: 10px;
    }
    .container2{
        margin: 10px;
        padding: 10px;
        background-color: bisque;
        text-align: center;
    }
    #mapa{
       
        width: 300px;
        height: 200px;
    }
    #imgsub1{
        width:100% ;
    }
    p{
        margin: 5px;
    }
    .sub1{
        margin: 5px;
    }
    .accordion{
        margin: 10px;
    }
}

.cp{
    
    width:100% ;
}
/*pagina3*/
@media (min-width:1201px){
    #img_cab{
        width: 100%;
        height: 600px;
    }
} 
@media (min-width:601px) and (max-width:1200px){
    #img_cab{
        width: 100%;
        height: 400px;
    }
} 
@media (max-width:600px){
    #img_cab{
        width: 100%;
        height: 200px;
    }
    #vision{
        width: 100%;
        background-color: #6D0C2E;
        color: aliceblue;
    }
}

.seccion_noti{
    align-items: center;
    width: 500px;

}
